<form method="post" enctype="multipart/form-data" {% if post_number is not None %}action="#{{ post_number }}"{% endif %}>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <table class="form-table">
        {% for field in form.visible_fields %}
            <tr>
                <td>{% if field.errors %}<b style="color: red" class="field-errors">{{ field.errors }}</b>{% endif %} {{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">{{ submit_text }}</button>
</form>