:root {
    --div-color: #414d62;
    --text-color: #ffffff;
}

body {
    background-color: #040507;
    color: var(--text-color);
    border-color: var(--text-color);
}

#main-head { 
    text-align: center;
}

#boards-table {
    width: 100%;
    border-collapse: collapse;
}

table {
    background-color: var(--div-color);
}

td {
    border: solid;
    border-width: 2px;
    padding: 2px;
}

#recent-posts-table {
    width: 100%;
    border-collapse: collapse;
}

#boards-table td {
    width: 33%;
    height: 3em;
}

#recent-posts-table td {
    width: 33%;
    height: 3em;
}


.form-table {
    border-collapse: collapse;
    margin: 2px;
}

a {
    color: #64aeb3;
}

.topic-container {
    border: solid;
    border-width: 2px;
    padding: 5px;
    margin: 10px;
    background-color: var(--div-color);
}

.reply-container {
    border: solid;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
    background-color: var(--div-color);
}

.reply-form-container {
    visibility: hidden;
    display: none;
}

.delete-form-container {
    visibility: hidden;
    display: none;
}

.secret-field-wrapper {
    visibility: hidden;
    display: none;
}

.registered-user {
    color: #f7b83d;
}

.ban-form-container {
    visibility: hidden;
    display: none;
}

#query-form-div {
    display: inline;
    margin: 10px;
}

.mentions-container {
    border-top: solid;
    border-width: inherit;
    padding: 2px;
    font-size: 9pt;
}